body {
    background-color: hsl(210, 46%, 95%);
    overflow: auto;
}

.canvas {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.cards {
    max-width: 100%;
    height: auto;
}

.card-one {
    background-color: hsl(263, 55%, 52%);
    max-width: 81%;
    height: 15%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
} 

.avatar-container {
    position: absolute; 
}

.avatar-daniel {
    position: relative;
    max-width: 40%;
    border-radius: 2rem;
    margin-top: 0.6rem;
    margin-left: 1.2rem;
}

.pattern-quotation {
    position: static;
    float: right;
    margin-top: -1rem;
    margin-right: 0.7rem;
    z-index: 1;
}

.h1-card-one {
    position: relative;
    color: hsl(0, 0%, 100%);
    font-family: "Barlow Semi Condensed";
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.8rem;
    margin-left: 4.2rem;
}

.h2-card-one {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
    font-family: "Barlow Semi Condensed";
    font-size: 0.71rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.2rem;
}

.h3-card-one {
    display: inline-block;
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.9;
    font-family: "Barlow Semi Condensed";
    font-size: 1.23rem;
    font-weight: 600;
    width: 85%;
    margin-top: -1.8rem;
    margin-left: 1.5rem;
    line-height: 1.5rem;
    z-index: 2;
}

.p-card-one {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
    font-family: "Barlow Semi Condensed";
    font-size: 0.78rem;
    font-weight: 500;
    width: 77%;
    margin-top: 0.12rem;
    margin-left: 1.5rem;
    line-height: 1.2rem;
}

.card-two {
    background-color: hsl(217, 19%, 35%);
    max-width: 81%;
    height: 15%;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.avatar-jonathan {
    position: relative;
    max-width: 40%;
    border-radius: 2rem;
    margin-top: 0.6rem;
    margin-left: 1.2rem;
}

.h1-card-two {
    position: relative;
    color: hsl(0, 0%, 100%);
    font-family: "Barlow Semi Condensed";
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 4.2rem;
}

.h2-card-two {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
    font-family: "Barlow Semi Condensed";
    font-size: 0.71rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.2rem;
}

.h3-card-two {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.9;
    font-family: "Barlow Semi Condensed";
    font-size: 1.23rem;
    font-weight: 600;
    width: 85%;
    margin-top: 1rem;
    margin-left: 1.5rem;
    line-height: 1.5rem;
}

.p-card-two {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-family: "Barlow Semi Condensed";
    font-size: 0.78rem;
    font-weight: 500;
    width: 90%;
    margin-top: 0.12rem;
    margin-left: 1.5rem;
    line-height: 1.2rem;
}

.card-three {
    background-color: hsl(0, 0%, 100%);
    max-width: 81%;
    height: 15%;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.avatar-jeanette {
    position: relative;
    max-width: 40%;
    border-radius: 2rem;
    margin-top: 0.6rem;
    margin-left: 1.2rem;
}

.h1-card-three {
    position: relative;
    color: hsl(217, 19%, 35%);
    font-family: "Barlow Semi Condensed";
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 4.2rem;
}

.h2-card-three {
    position: relative;
    color: hsl(217, 19%, 35%);
    opacity: 0.5;
    font-family: "Barlow Semi Condensed";
    font-size: 0.71rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.2rem;
}

.h3-card-three {
    position: relative;
    color: hsl(217, 19%, 35%);
    opacity: 1;
    font-family: "Barlow Semi Condensed";
    font-size: 1.23rem;
    font-weight: 600;
    width: 85%;
    margin-top: 1rem;
    margin-left: 1.5rem;
    line-height: 1.5rem;
}

.p-card-three {
    position: relative;
    color: hsl(217, 19%, 35%);
    opacity: 0.7;
    font-family: "Barlow Semi Condensed";
    font-size: 0.79rem;
    font-weight: 500;
    width: 80%;
    margin-top: 0.12rem;
    margin-left: 1.5rem;
    line-height: 1.2rem;
}

.card-four {
    background-color:  hsl(219, 29%, 14%);
    max-width: 81%;
    height: 15%;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.avatar-patrick {
    position: relative;
    max-width: 40%;
    border-radius: 2rem;
    margin-top: 0.6rem;
    margin-left: 1.2rem;
}

.h1-card-four {
    position: relative;
    color: hsl(0, 0%, 100%);
    font-family: "Barlow Semi Condensed";
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 4.2rem;
}

.h2-card-four {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
    font-family: "Barlow Semi Condensed";
    font-size: 0.71rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.2rem;
}

.h3-card-four {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 1;
    font-family: "Barlow Semi Condensed";
    font-size: 1.23rem;
    font-weight: 600;
    min-width: 85%;
    max-width: 100%;
    margin-top: 1rem;
    margin-left: 1.5rem;
    line-height: 1.5rem;
}

.p-card-four {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-family: "Barlow Semi Condensed";
    font-size: 0.79rem;
    font-weight: 500;
    min-width: 70%;
    max-width: 100%;
    margin-top: 0.12rem;
    margin-left: 1.5rem;
    line-height: 1.2rem;
}

.card-five {
    background-color: hsl(0, 0%, 100%);
    max-width: 81%;
    height: 15%;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.avatar-kira {
    position: relative;
    max-width: 40%;
    border-radius: 2rem;
    margin-top: 0.6rem;
    margin-left: 1.2rem;
}

.h1-card-five {
    position: relative;
    color: hsl(217, 19%, 35%);
    font-family: "Barlow Semi Condensed";
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-left: 4.2rem;
}

.h2-card-five {
    position: relative;
    color: hsl(217, 19%, 35%);
    opacity: 0.5;
    font-family: "Barlow Semi Condensed";
    font-size: 0.71rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.2rem;
}

.h3-card-five {
    position: relative;
    color: hsl(217, 19%, 35%);
    opacity: 1;
    font-family: "Barlow Semi Condensed";
    font-size: 1.23rem;
    font-weight: 600;
    width: 85%;
    margin-top: 1rem;
    margin-left: 1.5rem;
    line-height: 1.5rem;
}

.p-card-five {
    position: relative;
    color: hsl(217, 19%, 35%);
    opacity: 0.7;
    font-family: "Barlow Semi Condensed";
    font-size: 0.80rem;
    font-weight: 500;
    width: 84%;
    margin-top: 0.12rem;
    margin-left: 1.5rem;
    line-height: 1.2rem;
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
    
    body {
        overflow: auto;
    }

    .cards {
        max-width: 40%;
    }

    .card-one {
        max-width: 100%;
    }

    .card-two {
        max-width: 50%;
    }

    .card-three {
        max-width: 45%;
    }

    .card-four {
        max-width: 140%;
    }
}