

body {
    background-color: hsl(210, 46%, 95%);
    overflow: auto;
    padding-top: 2rem;
    font-family: "Barlow Semi Condensed";
}

.canvas {
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 1rem;
}

.card-one {
    position: absolute;
    background-color: hsl(263, 55%, 52%);
    max-width: 90%;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
}

.avatar-daniel {
    position: static;
    width: 1.9rem;
    border: 2px solid hsl(263, 71%, 63%);
    border-radius: 4rem;
    margin-top: 1.8rem;
    margin-left: 1.5rem; 
}

.pattern-quotation {
    position: absolute;
    margin-top: -4rem;
    margin-left: 13rem;
    margin-right: 1rem;
    z-index: 1;
}

.h1-card-one {
    position: relative;
    color: hsl(210, 46%, 95%);
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -2.2rem;
    margin-left: 4.5rem;
}

.h2-card-one {
    position: relative;
    color: hsl(210, 46%, 95%);
    opacity: 0.5;
    font-size: 0.69rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.5rem;
    padding: 0;
}

.h3-card-one {
    position: relative;
    max-width: 78%;
    color: hsl(0, 0%, 100%);
    font-size: 1.26rem;
    font-weight: 600;
    line-height: 1.6rem;
    z-index: 2;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 1.5rem;
}

.p-card-one {
    position: relative;
    max-width: 85%;
    color: hsl(210, 46%, 95%);
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: 1rem;
    margin-left: 2rem;
    padding-right: 2rem;
}

.card-two {
    position: absolute;
    background-color: hsl(217, 19%, 35%);
    max-width: 90%;
    margin-top: 29.8rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
}


.avatar-jonathan {
    position: static;
    width: 1.9rem;
    border: 2px solid hsl(217, 19%, 35%);
    border-radius: 4rem;
    margin-top: 1.6rem;
    margin-left: 1.3rem;
}

.h1-card-two {
    position: relative;
    color: hsl(0, 0%, 100%);
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -2.2rem;
    margin-left: 4.5rem;
}


.h2-card-two {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
    font-size: 0.69rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.5rem;
    padding: 0;
}

.h3-card-two {
    position: relative;
    max-width: 82%;
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-top: 1.2rem;
    margin-left: 1.9rem;
}

.p-card-two {
    position: relative;
    max-width: 80%;
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: 1rem;
    margin-left: 1.9rem;
    padding-right: 1rem;
}

.card-three {
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    max-width: 90%;
    margin-top: 46.8rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
}

.avatar-jeanette {
    position: static;
    width: 1.9rem;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 4rem;
    margin-top: 1.6rem;
    margin-left: 1.3rem; 
}

.h1-card-three {
    position: relative;
    color: hsl(217, 19%, 35%);
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -2.2rem;
    margin-left: 4.5rem;
}

.h2-card-three {
    position: relative;
    color: hsl(217, 19%, 35%);
    opacity: 0.5;
    font-size: 0.69rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.5rem;
    padding: 0;
}

.h3-card-three {
    position: relative;
    max-width: 82%;
    color: hsl(217, 19%, 35%);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-top: 1.2rem;
    margin-left: 1.9rem;
}

.p-card-three {
    position: relative;
    max-width: 100%;
    color: hsl(217, 19%, 35%);
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: 1rem;
    margin-left: 1.9rem;
    padding-right: 3rem;
}

.card-four {
    position: absolute;
    background-color: hsl(219, 29%, 14%);
    max-width: 90%;
    margin-top: 62.8rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
}

.avatar-patrick {
    position: static;
    width: 1.9rem;
    border: 2px solid hsl(263, 71%, 63%);
    border-radius: 4rem;
    margin-top: 1.6rem;
    margin-left: 1.3rem;
}

.h1-card-four {
    position: relative;
    color: hsl(0, 0%, 100%);
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -2.2rem;
    margin-left: 4.5rem;
}

.h2-card-four {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
    font-size: 0.69rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.5rem;
    padding: 0;
}

.h3-card-four {
    position: relative;
    max-width: 82%;
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-top: 1.2rem;
    margin-left: 1.9rem;
}

.p-card-four {
    position: relative;
    max-width: 100%;
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: 1rem;
    margin-left: 1.9rem;
    padding-right: 3rem;
}

.card-five {
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    max-width: 90%;
    margin-top: 90rem;
    padding-bottom: 1.7rem;
    border-radius: 0.5rem;
}

.avatar-kira {
    position: static;
    width: 1.9rem;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 4rem;
    margin-top: 1.6rem;
    margin-left: 1.3rem;
}

.h1-card-five {
    position: relative;
    color: hsl(217, 19%, 35%);
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -2.2rem;
    margin-left: 4.5rem;
}

.h2-card-five {
    position: relative;
    color: hsl(217, 19%, 35%);
    opacity: 0.5;
    font-size: 0.69rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.5rem;
    padding: 0;
}

.h3-card-five {
    position: relative;
    max-width: 82%;
    color: hsl(217, 19%, 35%);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-top: 1.2rem;
    margin-left: 1.9rem;
}

.p-card-five {
    position: relative;
    max-width: 100%;
    color: hsl(217, 19%, 35%);
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: 1rem;
    margin-left: 1.9rem;
    margin-right: 1rem;
    padding-right: 1.2rem;
}

@media screen and (min-width: 800px) {
    
    body {
        overflow: scroll;
    }

    .canvas {
        max-width: 100%;
        height: auto;
        margin-left: 10rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.25rem;
    }

    .card-one {
        position: relative;
        width: 33rem;
        height: auto;
        margin-top: 1rem;
        padding-right: 1rem;
    }

    .pattern-quotation {
        position: absolute;
        margin-left: 21rem;
    }

    .h3-card-one {
        max-width: 90%;
        font-size: 1.2rem;
    }
    
    .p-card-one {
        max-width: 90%;
        padding-right: 2rem;
    }

    .card-two {
        position: relative;
        width: 16rem;
        height: auto;
        margin-top: -19.9rem;
        left: 36rem;
    }

    .p-card-two {
        max-width: 90%;
        padding-right: 3rem;
    }

    .card-three {
        position: relative;
        width: 15rem;
        height: auto;
        margin-top: 2rem;
    }

    .h3-card-three {
        max-width: 65%;
        font-size: 1.2rem;
    }

    .p-card-three {
        max-width: 90%;
        padding-right: 2rem;
    }

    .card-four {
        position: relative;
        width: 39rem;
        height: auto;
        margin-top: -17.5rem;
        left: 17rem;
    }

    .h3-card-four {
        max-width: 84%;
        font-size: 1.2rem;
    }

    .p-card-four {
        max-width: 100%;
        padding-right: 1rem;
    }

    .card-five {
        position: relative;
        width: 16rem;
        height: auto;
        margin-top: -38.5rem;
        left: 54rem;
    }

    .h3-card-five {
        font-size: 1.2rem;
    }

    .p-card-five {
        max-width: 100%;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 1600px) {

    body {
        overflow: auto;
    }

    .canvas {
        max-width: 100%;
        height: auto;
        margin-top: 10rem;
        margin-left: 10rem;
    }
}