* {
    font-family: "Barlow Semi Condensed";
}

body {
    background-color: hsl(210, 46%, 95%);
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.cards {
    max-width: 90%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.card-one {
    background-color: hsl(263, 55%, 52%);
    max-width: 100%;
    height: auto;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}

.avatar-daniel {
    position: static;
    width: 1.9rem;
    border: 2px solid hsl(263, 71%, 63%);
    border-radius: 4rem;
    margin-top: 1.6rem;
    margin-left: 1.5rem; 
}

.pattern-quotation {
    position: absolute;
    margin-top: 0.2rem;
    margin-left: 9rem;
    margin-right: 1rem;
    z-index: 1;
}

.h1-card-one {
    position: relative;
    color: hsl(210, 46%, 95%);
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -2.2rem;
    margin-left: 4.5rem;
}

.h2-card-one {
    position: relative;
    color: hsl(210, 46%, 95%);
    opacity: 0.5;
    font-size: 0.69rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.5rem;
    padding: 0;
}

.h3-card-one {
    position: relative;
    max-width: 78%;
    color: hsl(0, 0%, 100%);
    font-size: 1.26rem;
    font-weight: 600;
    line-height: 1.6rem;
    z-index: 2;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 1.5rem;
}

.p-card-one {
    position: relative;
    max-width: 71%;
    color: hsl(210, 46%, 95%);
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-left: 2rem;
    padding-right: 1rem;
}

.card-two {
    background-color: hsl(217, 19%, 35%);
    max-width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}


.avatar-jonathan {
    position: static;
    width: 1.9rem;
    border: 2px solid hsl(217, 19%, 35%);
    border-radius: 4rem;
    margin-top: 1.6rem;
    margin-left: 1.3rem;
}

.h1-card-two {
    position: relative;
    color: hsl(0, 0%, 100%);
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -2.2rem;
    margin-left: 4.5rem;
}


.h2-card-two {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
    font-size: 0.69rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.5rem;
    padding: 0;
}

.h3-card-two {
    position: relative;
    max-width: 82%;
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-top: 1.2rem;
    margin-left: 1.9rem;
}

.p-card-two {
    position: relative;
    max-width: 80%;
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-left: 1.9rem;
    padding-right: 1rem;
}

.card-three {
    background-color: hsl(0, 0%, 100%);
    max-width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}

.avatar-jeanette {
    position: static;
    width: 1.9rem;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 4rem;
    margin-top: 1.6rem;
    margin-left: 1.3rem; 
}

.h1-card-three {
    position: relative;
    color: hsl(217, 19%, 35%);
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -2.2rem;
    margin-left: 4.5rem;
}

.h2-card-three {
    position: relative;
    color: hsl(217, 19%, 35%);
    opacity: 0.5;
    font-size: 0.69rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.5rem;
    padding: 0;
}

.h3-card-three {
    position: relative;
    max-width: 82%;
    color: hsl(217, 19%, 35%);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-top: 1.2rem;
    margin-left: 1.9rem;
}

.p-card-three {
    position: relative;
    max-width: 100%;
    color: hsl(217, 19%, 35%);
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-left: 1.9rem;
    padding-right: 3rem;
}

.card-four {
    background-color: hsl(219, 29%, 14%);
    max-width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}

.avatar-patrick {
    position: static;
    width: 1.9rem;
    border: 2px solid hsl(263, 71%, 63%);
    border-radius: 4rem;
    margin-top: 1.6rem;
    margin-left: 1.3rem;
}

.h1-card-four {
    position: relative;
    color: hsl(0, 0%, 100%);
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -2.2rem;
    margin-left: 4.5rem;
}

.h2-card-four {
    position: relative;
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
    font-size: 0.69rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.5rem;
    padding: 0;
}

.h3-card-four {
    position: relative;
    max-width: 82%;
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-top: 1.2rem;
    margin-left: 1.9rem;
}

.p-card-four {
    position: relative;
    max-width: 100%;
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-left: 1.9rem;
    padding-right: 3rem;
}

.card-five {
    background-color: hsl(0, 0%, 100%);
    max-width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}

.avatar-kira {
    position: static;
    width: 1.9rem;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 4rem;
    margin-top: 1.6rem;
    margin-left: 1.3rem;
}

.h1-card-five {
    position: relative;
    color: hsl(217, 19%, 35%);
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: -2.2rem;
    margin-left: 4.5rem;
}

.h2-card-five {
    position: relative;
    color: hsl(217, 19%, 35%);
    opacity: 0.5;
    font-size: 0.69rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-left: 4.5rem;
    padding: 0;
}

.h3-card-five {
    position: relative;
    max-width: 82%;
    color: hsl(217, 19%, 35%);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-top: 1.2rem;
    margin-left: 1.9rem;
}

.p-card-five {
    position: relative;
    max-width: 100%;
    color: hsl(217, 19%, 35%);
    opacity: 0.7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-left: 1.9rem;
    padding-right: 2.2rem;
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
    
    body {
        overflow: scroll;
    }

    .canvas {
        max-width: 100%;
        height: auto;
    }

    .container {
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }

    .cards {
        margin-top: -2rem;
    }

    .card-one {
       position: absolute;
       max-width: 36%;
       height: auto;
       margin-top: 10rem;
       margin-left: 10rem;
       padding-bottom: 1rem;
       padding-right: 0.25rem;
       overflow: hidden;
    }

    .pattern-quotation {
        position: absolute;
        margin-left: 18rem;
        margin-right: 3rem;
        z-index: 1;
    }

    .h3-card-one {
        max-width: 90%;
        font-size: 1.22rem;
        z-index: 2;
    }

    .p-card-one {
        max-width: 87%;
    }

    .card-two {
        position: absolute;
        max-width: 19%;
        height: auto;
        margin-top: 10rem;
        margin-left: 44rem;
        margin-right: 0.25rem;
        padding-bottom: 0.8rem;
    }

    .h3-card-two {
        font-size: 1.23rem;
    }

    .p-card-two {
        font-size: 0.8rem;
        margin-right: 3rem;
    }

    .card-three {
        position: absolute;
        max-width: 18%;
        height: auto;
        margin-top: 30rem;
        margin-left: 10rem;
        padding-bottom: 1rem;
        box-shadow: 9px 3px 11px 1px rgba(0, 0, 0, 0.2);
    }

    .h3-card-three {
        max-width: 70%;
        font-size: 1.23rem;
    }

    .p-card-three {
        margin-right: 0.15rem;
    }

    .card-four {
        position: absolute;
        max-width: 37.5%;
        height: auto;
        margin-top: 30rem;
        margin-left: 27.5rem;
        padding-bottom: 1rem;
        box-shadow: 9px 3px 11px 1px rgba(0, 0, 0, 0.2);
    }

    .h3-card-four {
        max-width: 90%;
        opacity: 0.9;
        line-height: 1.5rem;
        font-size: 1.22rem;
    }

    .p-card-four {
        margin-top: 1.5rem;
        margin-right: 0.15rem;
    }

    .card-five {
        position: absolute;
        max-width: 18%;
        height: auto;
        margin-top: 9.99rem;
        margin-left: 63rem;
        padding-right: 0.15rem;
        padding-bottom: 0.45rem;
        align-content: center;
        box-shadow: 9px 3px 11px 1px rgba(0, 0, 0, 0.2);
    }

    .h3-card-five {
        max-width: 90%;
        opacity: 0.9;
        line-height: 1.5rem;
        font-size: 1.22rem;
    }

    .p-card-five {
        margin-top: -0.5rem;
        margin-right: 0.1rem;
    }
}